<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Table.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Table.Properties.Settings>
            <setting name="VideoDevice" serializeAs="String">
                <value>USB2.0 PC CAMERA</value>
            </setting>
            <setting name="AudioDevice" serializeAs="String">
                <value>USB2.0 MIC</value>
            </setting>
            <setting name="PressClipLength" serializeAs="String">
                <value>00:00:15</value>
            </setting>
            <setting name="ResearchQuestion" serializeAs="String">
                <value>Research question</value>
            </setting>
            <setting name="Round_1_Instructions" serializeAs="String">
                <value>Round one instructions Round one instructions Round one instructions Round one instructions Round one instructions Round one instructions Round one instructions Round one instructions Round one instructions Round one instructions Round one instructions Round one instructions Round one instructions Round one instructions Round one instructions Round one instructions Round one instructions Round one instructions Round one instructions Round one instructions Round one instructions Round one instructions Round one instructions Round one instructions </value>
            </setting>
            <setting name="Round_2_Instructions" serializeAs="String">
                <value>Round two instructions</value>
            </setting>
            <setting name="Round_3_Instructions" serializeAs="String">
                <value>Round three instructions</value>
            </setting>
            <setting name="Round_4_Instructions" serializeAs="String">
                <value>Round four instructions</value>
            </setting>
            <setting name="Round_5_Instructions" serializeAs="String">
                <value>Round five instructions</value>
            </setting>
            <setting name="Round_6_Instructions" serializeAs="String">
                <value>Round six instructions</value>
            </setting>
            <setting name="Round_2_Time" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="Round_3_Time" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="Round_4_Time" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="Round_5_Time" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="Round_6_Time" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="Video_Processing_Instructions" serializeAs="String">
                <value>Video processing instructions</value>
            </setting>
            <setting name="Complete_Instructions" serializeAs="String">
                <value>Complete instructions</value>
            </setting>
            <setting name="User0Colour" serializeAs="String">
                <value>238, 127, 0</value>
            </setting>
            <setting name="User1Colour" serializeAs="String">
                <value>64, 189, 185</value>
            </setting>
            <setting name="User2Colour" serializeAs="String">
                <value>122, 181, 29</value>
            </setting>
            <setting name="User3Colour" serializeAs="String">
                <value>226, 0, 122</value>
            </setting>
            <setting name="Round_1_Time" serializeAs="String">
                <value>00:00:10</value>
            </setting>
        </Table.Properties.Settings>
    </userSettings>
</configuration>
