<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tablet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tablet.Properties.Settings>
            <setting name="ServerAddress" serializeAs="String">
                <value>net.tcp://localhost:8010</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Panopticon_Processing_Label" serializeAs="String">
                <value>Video data processing ({0}%)</value>
            </setting>
            <setting name="Panopticon_Downloading_Label" serializeAs="String">
                <value>Video downloading ({0}%)</value>
            </setting>
            <setting name="FileServerAddress" serializeAs="String">
                <value>net.tcp://localhost:8020</value>
            </setting>
            <setting name="Register_Instructions" serializeAs="String">
                <value>Click here to get started</value>
            </setting>
            <setting name="MarkButtonLabel" serializeAs="String">
                <value>Something interesting happened</value>
            </setting>
            <setting name="RoundTimeStartLabel" serializeAs="String">
                <value>Start round</value>
            </setting>
            <setting name="RoundTimerNextLabel" serializeAs="String">
                <value>Next round</value>
            </setting>
            <setting name="Comment" serializeAs="String">
                <value>Comment</value>
            </setting>
            <setting name="Cancel" serializeAs="String">
                <value>Cancel</value>
            </setting>
            <setting name="Finish" serializeAs="String">
                <value>Finish game</value>
            </setting>
            <setting name="ResearchQuestionLabel" serializeAs="String">
                <value>Please enter your group's research question on one of the tablets</value>
            </setting>
            <setting name="ResearchQuestionSubmitLabel" serializeAs="String">
                <value>Submit</value>
            </setting>
            <setting name="AreYouSure" serializeAs="String">
                <value>Are you sure your would like to go on to the next round?</value>
            </setting>
        </Tablet.Properties.Settings>
    </userSettings>
</configuration>